@keyframes shake {
  0% {
    rotate: 0deg;
  }

  10% {
    rotate: 10deg;
  }

  20% {
    rotate: -7deg;
  }

  30% {
    rotate: 5deg;
  }

  40% {
    rotate: -3deg;
  }

  50% {
    rotate: 0deg;
  }
}
