.checklist {
  width: 100%;
  background-color: $color-light-gray--1;
  border-radius: 7px;

  overflow: hidden;
  display: flex;

  @media screen and (max-width: $bp-medium) {
    flex-direction: column;
    border-radius: 0;
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 55rem;
  }

  &__create {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0.6;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .icon {
      font-size: 15rem;
      margin-bottom: 1.5rem;
    }
  }

  &__header {
    display: none;
    justify-content: space-between;
    align-items: center;

    gap: 2rem;

    border-bottom: 1px solid $color-light-gray--2;
    height: 13%;

    padding: 0 4rem;
  }

  &__name {
    width: 100%;
  }

  &__button {
    font-size: 2rem;
  }

  &__options {
    position: relative;
  }

  &__content {
    height: 87%;
    padding: 2rem 4rem;
    overflow-y: scroll;
    display: none;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "todo . finished"
      "todoTasks divider finishedTasks";
    column-gap: 4rem;

    @media screen and (max-width: $bp-medium) {
      row-gap: 2rem;
      height: 100%;
      grid-template-columns: auto;
      grid-template-rows: auto 35rem auto auto 35rem;
      grid-template-areas:
        "todo"
        "todoTasks"
        "divider"
        "finished"
        "finishedTasks";

      &::-webkit-scrollbar {
        display: none;
      }

      padding-bottom: 1rem;
    }
  }

  &__status {
    padding-bottom: 2rem;

    &--1 {
      grid-area: todo;

      display: flex;
      justify-content: space-between;
    }

    &--2 {
      grid-area: finished;
    }
  }

  &__to-do,
  &__finished {
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__to-do {
    grid-area: todoTasks;
  }

  &__tasks {
    display: flex;
    flex-direction: column;

    gap: 1rem;
  }

  &__divider {
    grid-area: divider;

    border-left: 1px solid $color-light-gray--2;
    height: 100%;

    @media screen and (max-width: $bp-medium) {
      border-top: 1px solid $color-light-gray--2;
      border-left: none;
      width: 100%;
      height: auto;
    }
  }

  &__finished {
    grid-area: finishedTasks;
  }
}
