.checklist {
  max-height: 55rem;
  height: 100%;
  width: 100%;
  background-color: $color-light-gray--1;

  border-radius: 7px;

  overflow: hidden;

  display: flex;

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__header {
    display: none;
    justify-content: space-between;
    align-items: center;

    gap: 2rem;

    border-bottom: 1px solid $color-light-gray--2;
    height: 13%;

    padding: 0 4rem;
  }

  &__name {
    width: 100%;
  }

  &__button {
    font-size: 2rem;
  }

  &__options {
    position: relative;
  }

  &__content {
    display: none;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 4rem;

    height: 87%;
    padding: 2rem 4rem;
  }

  &__status {
    padding-bottom: 2rem;

    &--1 {
      grid-column: 1 / 2;

      display: flex;
      justify-content: space-between;
    }

    &--2 {
      grid-column: 3 / -1;
      grid-row: 1 / 2;
    }
  }

  &__to-do,
  &__finished {
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__to-do {
    grid: 1 / 2;
    grid-row: 2 / -1;
  }

  &__tasks {
    display: flex;
    flex-direction: column;

    gap: 1rem;
  }

  &__divider {
    grid-column: 2 / 3;
    grid-row: 2 / -1;

    border-left: 1px solid $color-light-gray--2;
    height: 100%;
  }

  &__finished {
    grid-column: 3 / -1;
    grid-row: 2 / -1;
  }
}
