.checkbox {
  display: flex;

  &__input {
    display: none;
  }

  &__box {
    @extend %fa-icon;
    @extend .fa-solid;
    position: relative;
    cursor: pointer;

    height: 2.2rem;
    width: 2.2rem;

    border: 3px solid $color-light-yellow;
    border-radius: 7px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.2s ease;

    &::after {
      position: absolute;

      content: fa-content($fa-var-check);

      color: $color-dark--1;
      opacity: 0;

      transition: all 0.4s ease;
    }

    &--checked {
      border-color: transparent;

      &::after {
        opacity: 1;
        scale: 2;
      }
    }
  }
}
