.sidebar {
  background-color: $color-white;
  padding: 1.5rem 0;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  border-right: 5px solid $color-light-yellow;
  border-radius: 7px 0 0 7px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: inherit;

    overflow: scroll;
    list-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__button {
    padding: 1.5rem 1.5rem;
    font-size: 2rem;

    &:hover {
      background-color: $color-light-yellow;
    }

    &:active {
      background-color: $color-light-gray--2;
    }
  }
}
