@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #0d1224;
  height: 100svh; }

html {
  font-family: "Outfit", sans-serif; }

.container {
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center; }
  .container__page {
    width: 100rem; }

.button, .button::after, .button::before {
  border: none;
  background-color: transparent;
  cursor: pointer; }

.button--more {
  width: 2rem; }

.task {
  font-size: 1.6rem; }
  .task__name, .task__button {
    font-size: inherit; }

.sidebar {
  background-color: #fff;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-right: 5px solid #ffd339;
  border-radius: 7px 0 0 7px; }
  .sidebar__list {
    display: flex;
    flex-direction: column;
    gap: inherit;
    overflow: scroll;
    list-style: none; }
    .sidebar__list::-webkit-scrollbar {
      display: none; }
  .sidebar__button {
    padding: 1.5rem 1.5rem;
    font-size: 2rem; }
    .sidebar__button:hover {
      background-color: #ffd339; }
    .sidebar__button:active {
      background-color: #d9d9d9; }

.input, .input::before, .input::after {
  border: none;
  background-color: transparent;
  outline: none; }

.dropdown {
  position: absolute;
  top: 100%;
  right: 100%;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  background-color: #fff;
  border-radius: 7px;
  opacity: 0;
  list-style: none;
  transition: all 0.4s ease; }
  .dropdown__item {
    display: flex;
    width: 15rem; }
  .dropdown__button {
    width: 100%;
    padding: 1rem 2rem;
    text-align: left;
    font-weight: 700; }
    .dropdown__button:hover {
      color: #e92d20; }
  .dropdown--active {
    visibility: visible;
    opacity: 1; }
  .dropdown__icon {
    margin-right: 1rem; }

.checklist__options:focus-within > .dropdown {
  visibility: visible;
  opacity: 1; }

.checklist {
  max-height: 55rem;
  height: 100%;
  width: 100%;
  display: flex; }
  .checklist__list {
    width: 100%;
    background-color: #efefef;
    border-radius: 0 7px 7px 0; }
  .checklist__header, .checklist__content {
    padding: 1.5rem 4rem; }
  .checklist__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d9d9d9; }
  .checklist__name {
    font-size: 2.6rem;
    font-weight: 500; }
  .checklist__button {
    font-size: 2rem; }
  .checklist__options {
    position: relative; }
